@media (min-width: 768px) {
    .sidebar-wrap{
        position: fixed;
        height: 100%;
        left:0;
        width: 22%;
    }
    .sidebar-nav{
        margin-top:60px;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-left: 35px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}