.sidebar-wrap {
  i.fa {
    font-size: 16px;
    display: inline-block;
    width: 45px;
  }
}

i.fa {
  &.right-spacing {
    padding-right: 5px;
    &.x2 {
      padding-right: 10px;
    }
  }
  &.left-spacing {
    padding-left: 5px;
    &.x2 {
      padding-left: 10px;
    }
  }
}

.content-wrap {
  margin-top: 75px;
  width: 82%;
  margin-left: 18%;
}

table {
  a.btn {
    text-decoration: none;
  }
}

.ad-wrap {
  .table-ads-main {
    td {
      text-align: center;
      line-height: 32px;

      &:nth-child(1) {
        width: 2%;
      }
      &:nth-child(2) {
        width: 30%;
        text-align: left;
      }
      &:nth-child(3) {
        width: 12%;
      }
      &:nth-child(4) {
        width: 25%;
      }
      &:nth-child(5) {
        width: 20%;
        line-height: normal;
      }
    }
  }
}